.button-round
  $root: &
  background-color: $white-color
  border-radius: 50%
  border: none
  cursor: pointer
  font-size: $s-4
  height: 30px
  position: relative
  transition: all 0.3s ease
  width: 30px

  &:hover
    background-color: $accent-color
    color: $white-color
    transition: all 0.3s ease 0s

  &:hover #{$root}__icon__info
    display: block

  &__icon
    margin-top: 3px

    &__info
      background-color: $primary-color
      border-radius: $r-m
      color: $white-color
      display: none
      font-size: $s-1
      padding: 3px
      position: absolute
      right: calc(100% + 4px)
      top: 50%
      transform: translateY(-50%)
      width: 80px

      &::after
        background-color: transparent
        border-bottom: 5px solid transparent
        border-left: 5px solid $primary-color
        border-top: 5px solid transparent
        content: ''
        height: 0px
        position: absolute
        right: -4px
        top: 50%
        transform: translateY(-50%)
        width: 0px

  &.-favorite
    background-color: $font-less-dark
    color: $white-color
