.button-long
  $root: &
  @include flex
  background-color: $color-white
  border-radius: $r-m
  border: none
  cursor: pointer
  margin: 0 auto
  padding: $marg-base 0
  width: 80%

  &:hover
     @include hover

  &__title
    margin-left: $marg-1
