.buttonLong
  $root: &
  @include flex

  &__btn
    @include flex
    background-color: $color-white
    border-radius: $r-m
    border: none
    cursor: pointer
    padding: $marg-base 0
    width: 80%

    &:hover
      @include hover

    &:hover #{$root}__btn__title
      @include hover

    &__title
      margin-left: 5px
