.buttonSlim 
  color: $font-less-dark
  font-size: $m-2
  font-family: Raleway
  background-color: transparent
  border: none
  cursor: pointer 
  margin: $marg-base

  &.-isActive
    color: $accent-color

  &:hover
    color: $accent-color    
