.button 
    color: $white-color
    font-size: 16px
    font-family: Raleway
    margin-top: 3rem
    height: 50px
    background-color: $accent-color
    border: none
    cursor: pointer
    transition: all 0.3s ease 0s
    animation: fadeIn 1.8s ease 

    &:hover
        background-color: $font-dark
        color: $accent-color
        

