.button
  animation: fadeIn 1.8s ease
  background-color: $color-primary
  border: none
  color: $color-white
  cursor: pointer
  font-family: Raleway
  font-size: $font-size-base
  margin-top: 3rem
  padding: $marg-3 $marg-5

  &:hover
    background-color: $color-black
    color: $color-primary

  &.-small
    font-size: $font-size-sm
    padding: $marg-2 $marg-4

  &.-color-reverse
    background-color: $color-neutral-700
    color: $color-white

    &:hover
      background-color: $color-primary
      color: $color-white

  &:disabled
    background-color: $color-neutral-300
    cursor: not-allowed
  
    &:hover
      background-color: $color-neutral-300
