.button-round
  $root: &
  background-color: $color-white
  border-radius: 50%
  border: none
  cursor: pointer
  font-size: $font-size-sm
  height: 30px
  position: relative
  transition: all 0.3s ease
  width: 30px

  &:hover
    background-color: $color-primary
    color: $color-white
    transition: all 0.3s ease 0s

  &:hover #{$root}__info
    display: block

  &__info
    background-color: $color-neutral-700
    border-radius: $r-m
    color: $color-white
    display: none
    font-size: $font-size-xs
    padding: 3px
    position: absolute
    right: calc(100% + 4px)
    top: 50%
    transform: translateY(-50%)
    width: 80px

    &::after
      border: 5px solid transparent
      border-left-color: $color-neutral-700
      content: ''
      position: absolute
      left: 100%
      top: 50%
      transform: translateY(-50%)

  &.-favorite
    background-color: $color-neutral-500
    color: $color-white

  &.-first-icon
    position: absolute
    right: $marg-4
    top: $marg-base
    z-index: $z-lower

  &.-show-icon
    animation: fadeInShort 0.6s ease
    display: none
    position: absolute
    right: $marg-4
    top: $marg-6
    z-index: $z-lower
