.buttonSlim
  background-color: transparent
  border: none
  color: $font-less-dark
  cursor: pointer
  font-family: Raleway
  font-size: $m-2
  margin: $marg-base

  &.-isActive
    color: $accent-color

  &:hover
    color: $accent-color
