.footer
    background-color: $color-neutral-700
    display: flex
    margin-top: $marg-8
    padding: $marg-7 $mx-xl
    gap: $marg-4 $marg-2

    &__section
        color: $color-white
        flex: 1

        &--middle
            margin-left: 20%

    &__title
        font-family: Raleway
        font-size: $font-size-sm
        margin-bottom: $marg-base

    &__description
        font-size: $font-size-xs

    &__list
        font-size: $font-size-xs

        li
            cursor: pointer
            margin-bottom: $marg-1
            transition: transform 0.3s linear

            &:hover
                color: $color-primary
                transform: translateX($marg-1)

    &__icon
        border-radius: 50%
        border: 1px solid $color-white
        cursor: pointer
        height: $marg-3
        margin: $marg-base $marg-base 0 0
        padding: 2px
        transition: border-color 0.3s ease
        width: $marg-3

        &:hover
            border-color: $color-primary

@media only screen and (max-width: $l)
    .footer
        &__section
            &--middle
                margin-left: 0

@media only screen and (max-width: $s)
    .footer
        flex-direction: column
