.footer
  @include flex($main: space-between, $cross: flex-start)
  background-color: #2F333A
  margin-top: $marg-8
  padding: $marg-7 $mx-xl

  &__section
    color: $white-color
    width: 33%

    &--middle
      margin-left: 20%

    &__title
      font-family: Raleway
      font-size: $s-3
      margin-bottom: $marg-base

    &__description
      font-size: $s-2

    &__list
      font-size: $s-2

      & li
        cursor: pointer
        margin-bottom: 5px
        transition: all 0.3s linear

        &:hover
          color: $accent-color
          margin-left: 5px

    &__icons
      @include flex($main: flex-start)

      &__icon
        border-radius: 50%
        border: 1px solid $white-color
        cursor: pointer
        height: 20px
        margin: $marg-base $marg-base 0 0
        padding: 4px
        transition: all 0.3s ease
        width: 20px

        &:hover
          border: 1px solid $accent-color
