.header
  @include alignX
  @include flex($main: space-between)
  height: 100px

  &__user-name
    color: $primary-color
    font-size: $s-3
    font-weight: bold

  &__logo
    color: $primary-color

    &__icon
      color: $accent-color
      font-size: $b-1
      margin-right: $marg-base

    &__text
      font-size: $b-1
      font-weight: bold

  &__top-menu
    @include flex

    &__control
      position: relative
      margin: 0 $marg-3

      &__icon
        color: $primary-color
        cursor: pointer
        font-size: $m-5

        &:hover
          @include hover

      &__cart-info
        background-color: $accent-color
        border-radius: 50%
        color: $white-color
        font-size: $s-2
        height: 17px
        line-height: 17px
        position: absolute
        right: -8px
        text-align: center
        top: -8px
        width: 17px

@media only screen and (max-width: $xl)
  .header
    &__user-name
      display: none

@media only screen and (max-width: $s)
  .header
    &__logo
      &__text
        display: none

    &__top-menu
      &__control
        margin: 0 $marg-base
