.main-nav
  $root: &
  background-color: $color-neutral-700
  height: 60px
  widtd: 100%

  &__list
    @include flex
    margin: 0
    padding: 0

  &__dropdown-btn
    position: relative

    &:hover #{$root}__dropdown-content
      display: block

  &__item
    color: $color-white
    cursor: pointer
    font-size: $font-size-sm
    letter-spacing: 0.5px
    line-height: 60px
    margin: 0 24px
    position: relative

    &:hover
      @include hover

  &__dropdown-content
    cursor: pointer
    display: none
    font-size: $font-size-sm
    left: 20px
    padding-left: 0
    position: absolute
    top: 60px
    width: 150px
    z-index: 2

    & li
      background-color: $color-white
      border: 1px solid #ccc
      padding: 5px 10px

      &:hover
        @include hover

  &__arrow
    font-size: $font-size-xs
    position: absolute
    right: -8px
    top: 1px

  &__error
    color: $color-error
    font-weight: bold
