.cart-modal
  @include flex($direction: column, $main: space-between)
  position: absolute
  top: 0
  right: -350px
  width: 350px
  background-color: $white-color
  height: 100vh
  animation: showCart 0.3s linear forwards

  &__header
    @include flex($main: space-between)     
    width: 100%
    border-bottom: 1px solid #ccc

    &__title
      padding: $marg-3
      font-size: $m-3

    &__close
      margin-right: $marg-3
      @include closeBtn

  &__items
    font-size: $m-3

  &__controls
      @include flex
      position: relative
      width: 100%

      &__btn
        width: 100%
        margin: $marg-3
        border: none
        border-radius: 6px
        background-color: $accent-color
        color: $white-color
        font-size: $m-1
        padding: $marg-2
        text-align: left
        cursor: pointer

      &__amount
        position: absolute
        top: 50%
        right: 40px
        transform: translateY(-50%)
        background-color: $white-color
        color: $accent-color
        padding: 5px
        border-radius: 5px
