.address-form
  @include flex($direction: column, $cross: flex-start)
  margin-top: $marg-6

  &__input
    border-radius: $r-s
    border: 1px solid $color-secondary
    font-size: $font-size-lg
    outline: none
    padding: $marg-base $marg-2
    width: 100%

    &:focus
      border-color: $color-primary
