.blog-show
  @include flex($direction: column)
  @include alignX

  &__img
    margin: $marg-6

  &__title
    font-size: $b-1
    font-weight: bold
    margin-bottom: $marg-3

  &__info
    @include flex($main: space-between)
    width: 100%
    padding: $marg-3 0

    &__date
      font-style: italic

    &__author
      font-size: $m-4
      color: $primary-color 

    &__text
      font-size: $m-1
      color: $font-dark
      margin-right: $marg-3

  &__hr
    border: 1px solid $primary-color
    border-left: none
    border-right: none
    border-bottom: none
    width: 100%
    margin-bottom: 100px

  &__content
    font-size: $m-3
    line-height: 32px

.no-posts-found
  text-align: center
  margin-top: $marg-8
    