.row
  $root: &
  font-size: $font-size-sm

  &__image
    height: 100px

  &__delete
    cursor: pointer
    font-size: $font-size-sm
    padding: $marg-2
    transition: all 0.3s linear

    &:hover
      color: $color-primary
