.counter
  @include flex
  margin-right: $marg-2

  &__left,
  &__right
    background-color: transparent
    border: 1px solid $accent-color
    font-size: $m-3
    height: 50px
    text-align: center
    transition: color 0.3s ease 0s
    width: 25px

    &:hover
      background-color: $accent-color
      cursor: pointer

  &__amount
    @include flex
    border-bottom: 1px solid $accent-color
    border-top: 1px solid $accent-color
    height: 48px
    width: 60px
