.amount
  @include flex()

  &__increment,
  &__decrement
    background-color: $secondary-color
    border: none
    cursor: pointer
    font-size: $m-2
    height: 25px

    &:hover
      color: $accent-color

  &__decrement
    border-bottom-left-radius: $r-xs
    border-top-left-radius: $r-xs
    padding-left: $marg-base

  &__increment
    border-bottom-right-radius: $r-xs
    border-top-right-radius: $r-xs
    padding-right: $marg-base

  &__total
    background-color: $secondary-color
    font-size: $s-4
    height: 25px
    line-height: 25px
    padding: 0 $marg-base
