.cart-button
  @include flex($direction: column)
  background-color: $primary-color
  border-radius: $r-m
  border: none
  box-shadow: 0px 0px 7px $primary-color
  cursor: pointer
  padding: $marg-2
  position: fixed
  right: 0
  top: 50%
  transform: translateY(-50%)
  transition: transform 0.2s linear

  &__icon
    color: $accent-color
    font-size: $m-4

  &__items
    color: $white-color
    font-size: $s-3
    font-weight: bold
    padding: 8px

  &__amount
    background-color: $white-color
    border-radius: $r-s
    color: $accent-color
    font-size: $s-3
    font-weight: bold
    padding: 3px 0
    text-align: center
    width: 100%

  &.-animation
    transform: translateY(-58%)

@media (max-width: $l)
  .cart-button
    display: none
