.contact-container
  @include alignX
  @include flex($main: space-between, $cross: stretch)
  padding: $marg-7 0

.info,
.form
  background-color: $secondary-color
  padding: $marg-3
  
.info
  flex:1
  margin-right: $marg-3

  &__title
    margin-bottom: $marg-4
  
  &__wrap
    @include flex($main: flex-start, $cross: flex-start)
    margin-bottom: $marg-4

  &__subtitle
    width: 70px
    font-family: Ralway
    font-size: $m-1

.form
  flex: 2

  &__title
    margin-bottom: $marg-4

  &__names-controls
    @include flex($main: space-between)

  &__controls
    @include flex($direction: column,  $cross: flex-start)

  &__label
    font-size: $s-3
    margin-bottom: $marg-base

  &__input
    width: calc(100% - $marg-4)
    padding: $marg-base $marg-2
    margin-bottom: $marg-4
    border: 1px solid $secondary-color
    border-radius: 3px
    resize: vertical
    outline: none

    &:focus
      border-color: $accent-color 
