@mixin closeBtn
  background-color: transparent
  border: none
  cursor: pointer
  height: 25px
  position: relative
  width: 25px

  &::after
    background-color: $color-primary
    content: ''
    height: 2px
    left: 0
    position: absolute
    top: 50%
    transform: rotate(45deg)
    transition: all 0.3s linear
    width: 25px

  &::before
    background-color: $color-primary
    content: ''
    height: 2px
    left: 0
    position: absolute
    top: 50%
    transform: rotate(-45deg)
    transition: all 0.3s linear
    width: 25px

  &:hover::after
    transform: rotate(135deg)

  &:hover::before
    transform: rotate(-135deg)
