.roundBtnContainer
  background-color: $color-white
  border-radius: 50%
  cursor: pointer
  height: 40px
  text-align: center
  width: 40px

  &__arrow
    font-size: $font-size-xl
    line-height: 40px

  &:hover
    background-color: $color-primary

  &:hover &__arrow
    color: $color-white
