.roundBtnContainer
  background-color: $white-color
  border-radius: 50%
  cursor: pointer
  height: 40px
  text-align: center
  width: 40px

  &__arrow
    font-size: $b-1
    line-height: 40px

  &:hover
    background-color: $accent-color

  &:hover &__arrow
    color: $white-color
