.slider
  background-color: $color-secondary
  height: 550px
  position: relative

  &__dotsContainer
    @include flex
    bottom: 10px
    left: 50%
    position: absolute
    transform: translateX(-50%)

  &__arrowContainer
    position: absolute
    top: 50%

    &--left
      left: 10px

    &--right
      right: 10px
