.post
  width: 260px
  cursor: pointer
  margin-top: 30px
  border: none
  border-radius: 0

  &__img-container
      width: 100%
      height: 190px
      overflow: hidden
      background-color: #F4F5F8

      &__img 
          width: 100%
          height: auto

  &__content
      padding: 22px 20px 32px
      color: #292b2c
      background-color: #F4F5F8

      &__title
          font-size: 20px
          font-family: Raleway
          display: -webkit-box
          -webkit-line-clamp: 2
          -webkit-box-orient: vertical
          overflow: hidden

      &__info
          @include flex($main: flex-start)
          font-size: 10px
          margin: 10px 0

          &__author
              margin-right: 5px

      &__text
          font-size: 14px
          margin-bottom: -20px
          display: -webkit-box
          -webkit-line-clamp: 4
          -webkit-box-orient: vertical
          overflow: hidden

@media (max-width: $l)
  .post
      width: 100%

      &__img-container
          height: auto
        
