.post
    cursor: pointer
    margin-top: $marg-4

    &__img
        display: block
        width: 100%

    &__content
        background-color: $color-neutral-300
        color: $color-neutral-700
        font-size: $font-size-xl
        padding: $marg-3 $marg-3 $marg-4

    &__title
        @include truncate
        font-family: Raleway
        font-size: $font-size-2xl

    &__info
        font-size: $font-size-base
        margin: $marg-base 0

    &__author
        margin-right: $marg-1

    &__text
        font-size: $font-size-lg
        margin-bottom: $marg-3

@media only screen and (max-width: $xxl)
    .post
        &__title
            font-size: $font-size-xl

        &__content
            font-size: $font-size-lg

        &__info
            font-size: $font-size-sm

@media only screen and (max-width: $s)
    .post
        &__title
            font-size: $font-size-lg

        &__content
            font-size: $font-size-base

        &__info
            font-size: $font-size-xs

        &__text
            font-size: $font-size-sm
