//----- colors -------------------------------------------
$primary-color: #2F333A
$secondary-color: #E7E7E7
$accent-color: #FF7004
$white-color: #fff
$color-dark: #212121
$font-light: #fff
$font-dark: #212121
$font-less-dark: #474747
$error-color: #9b3535


//---- sizes -------------------------------------------
$mx-xl: 15%
$mx-l: 10%
$mx-s: 5%
$m-base: 24px
$m-l: calc($m-base / 2) // 12px
$m-s: calc($m-base / 3) //8px
