.address-item
  @include flex($main: flex-start)

  &__button,
  &__input
    border: none
    background-color: transparent
    cursor: pointer
    font-size: $m-2
    margin-top: $marg-base/2
    margin-left: $marg-base

  &__input
    cursor: default
    